<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whitedove.portal.mapper.MyItemMapper" >

	<!--Array:forech中的collection属性类型是array,collection的值必须是:list,item的值可以随意,Dao接口中参数名字随意 -->
	<select id="getMyItemList" resultType="com.whitedove.portal.pojo.MyItem">
		SELECT
			id itemId,
			sell_point itemTitle,
			image itemPic,
			title itemName
		FROM
			tb_item a
		where  id in
		<foreach collection="array" item="itemids" index="index"
				 open="(" close=")" separator=",">
			#{itemids}
		</foreach>
	</select>

	<insert id="insert" parameterType="com.whitedove.portal.pojo.MyItem" >
    insert into tb_my_item (id, user_id, item_id,
      item_name, item_pic, item_title
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT},
      #{itemName,jdbcType=VARCHAR}, #{itemPic,jdbcType=VARCHAR}, #{itemTitle,jdbcType=VARCHAR}
      )
  </insert>
</mapper>